<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="top-news">
        <ion-icon name="folder"></ion-icon>
        <ion-label>Top News</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="headlines">
        <ion-icon name="download"></ion-icon>
        <ion-label>HeadLineas</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="sources">
        <ion-icon name="refresh"></ion-icon>
        <ion-label>Sources</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="favorites">
        <ion-icon name="wifi"></ion-icon>
        <ion-label>favorites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
        <ion-icon name="settings"></ion-icon>
        <ion-label>settings</ion-label>
    </ion-tab-button>
              
  </ion-tab-bar>

</ion-tabs>
